body{
    background: rgb(13,16,173);
    background: linear-gradient(90deg, rgba(13,16,173,1) 0%, rgba(28,2,14,1) 0%, rgba(109,22,215,1) 100%);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:coral;
    font-size: 45px;
    font-weight: bold;
}


    

    
    


